@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', 'Karla', sans-serif;
}

main{
    margin-top: 50px;
}

h1{
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 10px;
}

li{
    list-style-type: none;
}

h2{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

h3{
    font-size: 15px;
    font-weight: 400;
}

a{
    text-decoration: none;
    display: inline-block;
    color: white;
}

/* HEADER */

.main-header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #00669F;
    width: 100%;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.top-header{
    background-color: #1CD1B0;
    padding: 10px;
}

.menu{
    background-color: #000000;
    text-align: right;  
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 10px 10px 10px 10px;
}

/* MAIN SECTION */

.cards-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.container{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.card1, .card2, .card3{
    position: relative;
    width: 300px;
    height: 336px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 40px;
}

.card1 img, .card2 img, .card3 img{
    position: relative;
    bottom: 190px;
}

.heart-1, .heart-2, .heart-3{
 position: absolute;
 top: 10px;
 left: 10px;
 z-index: 3;
}

.avatar-1, .avatar-2, .avatar-3{
    position: absolute;
    align-self: center;
    z-index: 2;
    left: 85px;
    top: 130px;
}

.avatar-1 img, .avatar-2 img, .avatar-3 img{
    border-radius: 50%;
}

.card1 h2, .card2 h2, .card3 h2{
    position: relative;
    bottom: 120px;
}

.card1 p, .card2 p, .card3 p{
    padding: 16px;
    position: relative;
    bottom: 110px;
}


.card1 a, .card2 a, .card3 a{
    position: relative;
    bottom: 100px;
    left: 85px;
    padding: 10px 30px 10px 30px;
    background-color: #00669F;
}

.add-btn a{
    font-size: 70px;
    color: #00669F;
    position: fixed;
    top: 50vh;
    right: calc(5% - 45px);
}

.add-btn a:hover{
    color:#001D2D;
    ;
}

/* FOTOER */

.main-footer{
    background-color: #00669F;
    padding: 15px;
}

.main-footer p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

/* LOGIN PAGE */

.login-container{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.form-title{
    margin: auto 0;
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #333333;
}

.email{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-bottom: 20px;
    font-family: 'Karla', sans-serif;
   
}

.email-label, .password-label, .fullname-label, .country-label{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 5px;
    color: #00669F;

}

.password{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-bottom: 20px; 
}

.btn{
    width: 450px;
    margin-top: 25px;
}

input[type=email]{
    background: #FFFFFF;
    border: 1.53407px solid #000000;
    width: 100%;
    color: #494949;
    height: 45px;
    padding: 5px;
    font-size: 17px;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

input[type=password]{
    background: #FFFFFF;
    border: 1.53407px solid #000000;
    width: 100%;
    padding: 5px;
    height: 45px;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    color: #acacac;
}

.btn input[type=submit]{
    background-color:#1CD1B0;
    border: none;
    border-radius: 23.011px;
    color: black;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 55px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; 
    width: 100%;
}

.registration-link, .login-link {
    font-size: 21.48px;
    color: #000000;
    width: 450px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: normal;
    font-weight: 400;
    padding-top: 10px;

}

.registration-link a, .login-link a{
    font-size: 21.48px;
    color: #00669F;
    font-family: 'Karla', sans-serif;
    padding-left: 5px;
}



/* REGISTRO */

.register-container{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: auto;
    height: 79vh;
    padding-bottom: 100px;
}


.fullname, .country{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-bottom: 20px;
    font-family: 'Karla', sans-serif;
}

input[type=text]{
    background: #FFFFFF;
    border: 1.53407px solid #000000;
    width: 100%;
    color: #494949;
    height: 45px;
    padding: 5px;
    font-size: 17px;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

select{
    background: #FFFFFF;
    border: 1.53407px solid #000000;
    width: 100%;
    color: #494949;
    height: 45px;
    padding: 5px;
    font-size: 17px;
    width: 100%;
    font-family: 'Karla', sans-serif;
}


.btn-registro{
    width: 500px;
    margin-top: 30px;
}


.btn-registro input[type=submit]{
    background-color:#1CD1B0;
    border: none;
    border-radius: 23.011px;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 55px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; 
    width: 45%;
}

.btn-registro input[type=reset]{
    background-color:#888888;
    border: none;
    border-radius: 23.011px;
    color:#ffffff;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 55px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; 
    width: 45%;
}

/* AÑADIR SUPERHEROE */

.add-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.first-row{
    width: 40%;
}

.second-row{
    width: 40%;
}

